@import "../../style.scss";

.feed {
  @include themify($themes) {
    background-color: themed("background");
  }
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem 0.5rem;
  gap: 1rem;
}
