.loader {
  width: 4rem;
  height: 4rem;
  border: 5px solid var(--bg-secondary);
  border-bottom-color: var(--accent-100);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  
  align-self: center;
  position: absolute;
  top: 60vh;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
