@import "./style.scss";

.loginForm,
.registerForm {

  background-color: #000;
  background: linear-gradient(-25deg, rgb(4, 42, 53) 0%, rgba(0, 0, 0, 1) 50%, rgb(2, 53, 38) 100%);

  min-height: 100vh !important;
  overflow: hidden;
  padding-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  gap: 1.5rem;

  .logo {
    display: flex;
    justify-content: center;
    img {
      max-width: 90%;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    gap: 0.5rem;

    .welcome {
      margin: 0;
      font-weight: 100;
      font-size: 2rem;
    }

    .register {
      color: var(--text-secondary);
      display: flex;
      gap: 0.5rem;
    }

    .link {
      text-decoration: none;
      color: var(--text-href);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;

    .input-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--bg-dark);
      border-radius: 8px;
      width: 100%;
      font-size: 1.25rem;
    }

    .input-group .input-icon {
      padding: 0.5rem 0.75rem;
      color: var(--text-mute);
      border-right: 1px solid var(--text-mute);
    }

    .input-group input {
      font-size: 1rem;
      padding: 0 0.5rem;
      background: transparent;
      border: none;
      color: white;
    }

    .input-group input:focus-visible {
      outline: none;
      border: none;
    }
  }

  .form-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .checkbox-group {
    display: flex;
    flex-direction: row;

    .checkbox-label {
      color: var(--text-mute);
    }
  }

  .forgot {
    color: var(--text-href);
    text-decoration: none;
  }

  .login-btn {
    margin: 1rem 0;
    // margin-top: 5}rem;
    background: var(--bg-white);
    background: var(--gradient-1);
    color: var(--text-white);
    font-size: 1.25rem;
    width: 100%;
    padding: 0.85rem 0;
    border: none;
    border-radius: 8px;

    text-decoration: none;
    text-align: center;
  }

  .third-login {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

    .legend {
      display: flex;
      justify-content: center;
      align-items: center;

      .divider {
        width: 100%;
        border-bottom: 1px solid var(--text-secondary);
      }
      .divider-text {
        font-size: 0.85rem;
        color: var(--text-secondary);
        width: 100%;
        padding: 0 0.85rem;
      }
    }

    .logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .logos img {
      height: 2rem;
      width: 2rem;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }

  .footer .copyright {
    font-family: consolas;
    font-size: 0.75rem;
    color: #797979;
  }
}

@media only screen and (min-width: 990px) {

  .login, .registerForm{
    width: 100%;
    
    .logo, .header, .form
    {
      max-width: 25%;
    }
  }
}

.registerForm {
  
  .input-row {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;

    label{
      color: var(--text-secondary)
    }

  }

  .input-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-dark);
    border-radius: 8px;
    color: var(--text-white);
    font-size: 1.25rem;
    border: none;
  }

  .already {
    color: var(--text-secondary);
    display: flex;
    gap: 0.5rem;
  }
  .link {
    text-decoration: none;
    color: var(--text-href);
  }
}
