@import "./style.scss";

.login {
    
  background-color: #000;
  height: 100vh !important;

  padding-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  gap: 1rem;

  .logo {
    img {
      max-width: 300px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    // padding: 1rem 0;

    .welcome {
      margin: 0;
      font-weight: 100;
      font-size: 2rem;
    }

    .register {
      color: var(--text-secondary);
    }

    .link {
      text-decoration: none;
      color: var(--text-href);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;

    .input-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--bg-dark);
      border-radius: 8px;
      width: 100%;
      font-size: 1.25rem;
    }

    .input-group .input-icon {
      padding: 0.5rem 0.75rem;
      color: var(--text-mute);
      border-right: 1px solid var(--text-mute);
    }

    .input-group input {
      font-size: 1rem;
      padding: 0 0.85rem;
      background: transparent;
      border: none;
      color: white;
    }

    .input-group input:focus-visible {
      outline: none;
      border: none;
    }
  }

  .form-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .checkbox-group {
    display: flex;
    flex-direction: row;

    .checkbox-label {
      color: var(--text-mute);
    }
  }

  .forgot {
    color: var(--text-href);
    text-decoration: none;
  }

  .login-btn {
    margin: 1rem 0;
    background: var(--bg-white);
    background: var(--gradient-1);
    color: var(--text-white);
    font-size: 1.25rem;
    width: 100%;
    padding: 0.85rem 0;
    border: none;
    border-radius: 8px;

    text-decoration: none;
    text-align: center;
  }

  .third-login {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

    .divider {
      width: 100%;
      border-bottom: 1px solid var(--text-secondary);
      position: relative;
    }

    .divider .divider-text {
      font-size: 0.85rem;
      color: var(--text-secondary);
      position: absolute;
      left: 50%;
      background-color: black;
      transform: translateX(-50%) translateY(-60%);
      padding: 0 0.85rem;
    }

    .logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .logos img {
      height: 2rem;
      width: 2rem;
    }
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .footer .copyright {
    font-family: consolas;
    font-size: 0.75rem;
    color: var(--bg-dark);
  }
  
}

