@import "./style.scss";

.navbar {
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 7777;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--bg-dark-2);
  transition: height 0.5s ease;
}

.default{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &.hidden{
    display: none;
  }

}

.navbar-logo {
  display: flex;
  align-items: center;

  img {
    max-width: 150px;
    width: auto;
    height: auto;
  }


  // .profile {
  //   display: flex;
  //   flex-direction: row;
  //   padding: 1rem;
  //   align-items: center;
  // }

}