@import "../../style.scss";

.navbar {
  @include themify($themes) {
  }
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 7777;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--bg-dark-2);

  .logo {
    display: flex;
    align-items: center;
    img {
      max-width: 150px;
      width: auto;
      height: auto;
    }
  }

  .profile {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
  }
}
